---
name: java CI with maven

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - main

jobs:
  build:
    name: action-practice02
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package --file pom.xml

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SOURCE: "target/action-practise-0.0.1-SNAPSHOT.jar"
          REMOTE_HOST: 8.155.164.6
          REMOTE_USER: root
          TARGET: /root/springboot/github-actions.jar
          SCRIPT_AFTER: |
            cd /root/springboot
            pkill -f 'java -jar /root/springboot/github-actions.jar' || true
            nohup java -jar /root/springboot/github-actions.jar > app.log 2>&1 &

